# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: Notifiarr
version: "0.9.1"
slug: notifiarr
description: This is the unified client for Notifiarr.com. The client enables content requests from Media Bot in your Discord Server and also provides reports for Plex usage and system health among many other features
url: "https://github.com/Notifiarr/notifiarr"
image: golift/notifiarr
#url: "https://github.com/nyok92/hassio-addons/tree/main/notifiarr"
#image: "ghcr.io/nyok92/{arch}-notifiarr"
arch:
  - aarch64
  - amd64
startup: application
init: false
webui: http://[HOST]:[PORT:5454]
ports:
  5454/tcp: 5454
ports_description:
  5454/tcp: Web frontend
apparmor: false
map:
  - homeassistant_config:rw
  - addon_config:rw
#  - addons:rw
#  - backup:rw
  - share:rw
options:
  timezone: "Europe/Paris"
  USR_ID: 0
  GRP_ID: 0
schema:
  timezone: "str"
  USR_ID: "int"
  GRP_ID: "int"
